#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: auto;
  transition: opacity.3s;
}

.photograph-header {
  background-color: #fafafa;
  /* height: 300px; */
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  height: auto;
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 35px;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */

  margin: 4% auto;
}

.modal header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  align-items: flex-start;
}
.modal-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-weight: 400;
  font-size: 64px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.modal-contact {
  margin-bottom: 20px;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}
form textarea,
form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
form textarea {
  height: 170px;
}
#cadre {
  display: flex;
  flex-direction: column;
}

#main_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px;
}
#cader p {
  color: #901c1c;
  font-size: 24px;
  font-weight: bold;
  line-height: 16.93px;
}
.cader-name {
  margin: 0;
}
#media {
  padding: 0px 40px;
  margin: 0 27px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 29px;
}

.media-info {
  width: 350px;
  height: 351px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.img-media {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}
.video,
.mediaImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.like p,
.media-title {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
  line-height: 31.25px;
}
.fa-heart {
  color: #901c1c;
  font-size: 24px;
}
.media-title-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hearts {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.like {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 6px;
}

/* lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
  transition: opacity.3s;
}
.lightbox-div {
  margin-top: 40px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.lightbox-container {
  margin: 0 auto;
  width: 80%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.lightbox-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: contain;
}
.lightbox-container p {
  margin-bottom: 10px;
}

.fa-x {
  font-size: 40px;
  position: fixed;
  top: 43px;
  color: #901c1c;
  position: relative;
  left: 92%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.left,
.right {
  top: 50%;
  color: #901c1c;
  font-size: 50px;
  right: -90%;
  z-index: 11;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
}
.left {
  left: -4%;
}
.lightbox.fadeOut {
  opacity: 0;
}

.tarif-box {
  width: 376px;
  height: 89px;
  background-color: #db8876;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  right: 8%;
  font-size: 24px;
  color: black;
  font-weight: 500;
  justify-content: space-around;
}
.like-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}
.black {
  color: black;
}
.filtre-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  margin: 0 100px;
}

.select_box,
.filtre-box label {
  font-size: 18px;
  font-weight: 700;
}

.custom-select {
  width: 150px;
  border-radius: 5px;
  background-color: #901c1c;
  font-size: 18px;
  color: #ffffff;
  border: none;
  padding: 20px;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.select-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.value {
  font-size: 18px;
  font-weight: 700;
}
.data-select {
  width: 150px;
  padding: 20px;
  border-radius: 5px;
  background-color: #901c1c;
  font-size: 18px;
  color: #ffffff;
  border: none;
  padding: 20px;
}

.custom-select-option {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-bottom: 1px #ffff solid;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}
.custom-select-option:nth-last-child(1) {
  border: none;
}
.open {
  opacity: 1;
  position: relative;
  left: -211px;
  top: 31px;
  z-index: 20;
}
.data_btn {
  background: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.8rem;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}
.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}
.modal-confirmation {
  border: 1px #0f0e0e solid;
  position: absolute;
  background-color: #b5b1b1af;
  z-index: 50;
  top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  left: 30%;
  box-shadow: 4px 4px 6px 0 rgb(18 17 17 / 71%);
}
.modal_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  column-gap: 541px;
}

.modal-confermation p {
  font-size: 30px;
  color: black;
}
.modal-confermation button {
  margin: 0 auto;
}

.continer_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.318);
  z-index: 40;
  overflow: auto;
  transition: opacity.3s;
}
