#contact_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 20;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#cadre {
  display: flex;
  flex-direction: column;
}

#main_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}
#cader p {
  color: #901c1c;
  font-size: 24px;
  font-weight: bold;
  line-height: 16.93px;
}
#media {
  padding: 0px 40px;
  margin: 0 27px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 29px;
  /* column-gap: 30px; */
}

.media-info {
  width: 350px;
  height: 351px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.img-media {
  width: 100%;
  height: 80%;
  border-radius: 5px;
}
.video,
.mediaImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.like p,
.media-title {
  color: #901c1c;
  font-weight: 400;
  font-size: 24px;
  line-height: 31.25px;
}
.fa-heart {
  color: #901c1c;
  font-size: 24px;
}
.media-title-like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.like {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 6px;
}

/* lightbox */
.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
  /* display: none; */
  transition:opacity.3s;
}
.lightbox-div {
  margin-top: 40px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
 
}
.lightbox-container {
  margin: 0 auto;
  width: 80%;
height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
 
}
.lightbox-container img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.lightbox-container p{
margin-bottom: 10px;
}

.fa-x {
  font-size: 40px;
  position: fixed;
  top: 43px;
  color: #901c1c;
  position: relative;
  left: 92%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.left,
.right {
  top: 50%;
  color: #901c1c;
  font-size: 50px;
  right: -90%;
  z-index: 11;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: transparent;
}
.left {
  left: 0%;
}
.lightbox.fadeOut{
  opacity: 0;
}

 
/* 
.lightbox.active {
  display: block;
} */

.tarif-box{

  width:376px ;
  height:89 ;
  background-color: #DB8876;
  display: flex;
  flex-direction: row;
  position:fixed;
  bottom:0;
  right: 395px;
font-size:24px;
color: black;
font-weight:500;
justify-content: space-around;
 
}
.like-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
}
.black{
  color: black;
}